<!DOCTYPE html>
<html lang="de">
<head>
  {{> head}}
  <title>{{title}} | Silvie Tillard Fotografie</title>
  <script src="story.js" defer></script>
  <script src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>
</head>
<body>
  {{> site-header subpage=true}}

  <main>
    <div class="story">
      <div class="story__meta">
        <p class="story__title">{{title}}</p>
        <div class="story__description">{{{description}}}</div>
      </div>

      {{#each images}}
        <img class="story__image" src="{{url}}" alt="{{title}}" />
        {{!-- <figure class="story__image"> --}}
          {{!-- {{#if caption}}<figcaption class="story__image-caption">{{caption}}</figcaption>{{/if}} --}}
        {{!-- </figure> --}}
      {{/each}}
      <a href="/" class="story__back-button hidden-desktop"><img src="/assets/arrow-left-bold.svg" class="story__back-button-arrow" alt="back arrow"> Back</a>
    </div>
  </main>
</body>
</html>
