<!DOCTYPE html>
<html lang="de">
<head>
  {{> head}}
  <title>{{title}} | Silvie Tillard Fotografie</title>
</head>
<body>
  {{> site-header subpage=true}}

  <main class="contact">
    <div class="columns columns--head hidden-mobile">
      {{#each columns}}
      <div class="column">
        <div class="column__title">{{title}}</div>
      </div>
      {{/each}}
    </div>
    <div class="columns">
      {{#each columns}}
      <div class="column">
        <div class="column__title hidden-desktop">{{title}}</div>
        <div class="column__content">{{{content}}}</div>
        {{#if footer}}<div class="column__footer">{{{footer}}}</div>{{/if}}
      </div>
      {{/each}}
    </div>
  </main>
</body>
</html>
