<!DOCTYPE html>
<html lang="de">
<head>
  {{> head}}
  <title>Silvie Tillard Fotografie</title>
</head>
<body>
  {{> site-header}}

  <main>
    <div class="stories">
      {{#each stories}}
      <a href="{{path}}" title="{{title}}" class="story-link" style="background-image: url({{thumbnailUrl}});">
        {{!-- <div class="story-link__thumbnail"><img src="{{thumbnailUrl}}" alt="{{title}}" /></div> --}}
        <div class="story-link__title">{{title}}</div>
      </a>
      {{/each}}
    </div>
  </main>
</body>
</html>
