<!DOCTYPE html>
<html lang="de">
<head>
  {{> head}}
  <title>{{title}} | Silvie Tillard Fotografie</title>
</head>
<body>
  {{> site-header subpage=true}}

  <main>
    <div class="story">
      <div class="story__meta">
        <p class="story__title">{{title}}</p>
        <p class="story__description">{{{description}}}</p>
      </div>

      {{#each images}}
      <figure class="story__image">
        <img class="story__image-image" src="{{url}}" alt="{{title}}" />
        {{#if caption}}<figcaption class="story__image-caption">{{caption}}</figcaption>{{/if}}
      </figure>
      {{/each}}
    </div>
  </main>
</body>
</html>
