<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <title>{{title}} | Silvie Tillard Fotografie</title>
</head>
<body>
  {{> site-header subpage=true}}

  <div class="story">
    <div class="story__description">
      <p>{{title}}</p>
      <p>{{{description}}}</p>
    </div>

    {{#each images}}
    <img class="story__image" src="{{url}}" alt="{{title}}" />
    {{/each}}
  </div>
</body>
</html>
